@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* Hide Number Arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@layer components {

  .input {
    @apply w-full
  }

  .button--primary {
    @apply border-1 py-1 px-2 bg-secondary hover:bg-primary text-white border-white rounded-md  
  }

  /* Buttons for icons */
  .button--secondary {
    @apply p-1 rounded-full bg-gray text-light hover:bg-dark
  }

  .button--tertiary {
    @apply text-white hover:text-light
  }

  .input--primary {
    @apply input border-0 outline-none ring-0 bg-opacity-0 bg-white text-primary
  }
}